html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', san-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.color-section {
  background-color: #FF4C68;
  color: #fff;
}

.white-section {
  background-color: white;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  /* font-weight: bold; */
}

.nav-item {
  padding: 0 18px;
  font-family: 'Montserrat';
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 55%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* Features Section */
#features {
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  text-height: 1.5;
}

.dog-img {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #EF8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Button Section */
.card {
  height: 100%
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1000px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }

}

/* Call to Action Section*/


/* Footer */

.icon-footer {
  margin: 20px;
  10px;
}
